
$color-primary = #231F20;
$color-primary-dark = #231F20;
$color-primary-light = #3C3C3C;
$color-primary-lighter = #696969;

$color-secondary = red;
$color-secondary-dark = #810810;

$color-third = #F14F9B;
$color-third-dark = #DE307F;

$color-fourth = #ffb400;
$color-fourth-dark = #da9a00;

$color-error = red;
// $color-info = ;
// $color-success = ;
// $color-warning = ;

$color-cornflower = #6973ff;
$color-light-gold = #ffcf4e;
$color-bubblegum-pink = #fb92c5;
$color-yellow-orange = #ffb400;
$color-pastel-blue = #9ca4ff;
$color-turquoise-blue = #00babf;
$color-seafoam-blue = #5dd4d8;
$color-cool-grey = #9898a7;
$color-cloudy-blue = #d4d4df;
$color-slate-grey = #AEAEB4;
$color-pale-grey = #f2f4f7;
$color-smoky-grey = #5e5e69;
$color-barbie-pink = #f9429b;