mobile-breakpoint = 319;
tablet-breakpoint = 639;
desktop-breakpoint = 1023;


lower-bound(range) {
  if length(range) <= 0 {
    return 0;
  }
  return range[0];
}

upper-bound(range) {
  if length(range) < 2 {
    return 999999999999;
  }
  return range[1];
}

// Lower and upper bounds for each media size
toosmall-range =   0, mobile-breakpoint;
mobile-range =  mobile-breakpoint  + 1, tablet-breakpoint;
tablet-range = tablet-breakpoint  + 1, desktop-breakpoint;
desktop-range = desktop-breakpoint + 1, 9999999999999999;


// Media Queries
screen = "screen";

landscape = "{screen} and (orientation: landscape)";
portrait = "{screen} and (orientation: portrait)";

media_queries = {
  mobile-up: screen,
  mobile-only: screen +' and (max-width:'+upper-bound(mobile-range)+'px)',
  tablet-down: screen +' and (max-width:'+upper-bound(tablet-range)+'px)',
  tablet-up: screen +' and (min-width:'+lower-bound(tablet-range)+'px)',
  tablet-only: screen +' and (min-width:'+lower-bound(tablet-range)+'px) and (max-width:'+upper-bound(tablet-range)+')',
  desktop-down: screen +' and (max-width:'+upper-bound(desktop-range)+'px)',
  desktop-up: screen +' and (min-width:'+lower-bound(desktop-range)+'px)',
}

for_breakpoint(breakpoints) {
  conditions = ();

  for breakpoint in breakpoints {
      push(conditions, media_queries[breakpoint])
  }

  conditions = join(", ", conditions);

  width: conditions;

  @media conditions {
      {block}
  }
}