@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

$font-primary-regular = 'Montserrat', sans-serif;
$font-game-primary = 'Montserrat', sans-serif;
$font-game-secondary = 'Montserrat', sans-serif;